.slider {
  max-width: 280px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    max-width: none;
    width: 620px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
  }
  outline: 4px solid black;
  &__comments {
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    &-addr {
      font-family: DM Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
