@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; }

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */ }

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; }

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0; }

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline; }

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  src: url("/titan-one-v8-latin-regular.5ecfba8a.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/titan-one-v8-latin-regular.5ecfba8a.eot?#iefix") format("embedded-opentype"), url("/titan-one-v8-latin-regular.c7773417.woff2") format("woff2"), url("/titan-one-v8-latin-regular.7f3e05d4.woff") format("woff"), url("/titan-one-v8-latin-regular.289eb43c.ttf") format("truetype"), url("/titan-one-v8-latin-regular.6dce54aa.svg#TitanOne") format("svg");
  /* Legacy iOS */ }

/* dm-sans-regular - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/dm-sans-v6-latin-regular.b8eca754.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-regular.b8eca754.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-regular.a45f7eae.woff2") format("woff2"), url("/dm-sans-v6-latin-regular.951d2140.woff") format("woff"), url("/dm-sans-v6-latin-regular.8114e003.ttf") format("truetype"), url("/dm-sans-v6-latin-regular.8e9c9c54.svg#DMSans") format("svg");
  /* Legacy iOS */ }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 320px) {
    .container {
      min-width: 320px; } }
  @media (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 34px;
      padding-right: 34px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-left: 75px;
      padding-right: 75px; } }

html {
  box-sizing: border-box; }

*,
::after,
::before {
  box-sizing: inherit; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
p {
  margin-top: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  font-family: DM Sans, sans-serif; }

.image-slider {
  padding: 30px 0px 30px 0px; }
  .image-slider__slide {
    text-align: center; }
  .image-slider__image {
    text-align: center;
    margin-bottom: 15px; }
  .image-slider__image img {
    display: inline;
    width: 85px;
    height: 85px; }
  .image-slider .swiper-pagination-bullet:first-child {
    width: 12.4px;
    height: 12px;
    background: url(/Vector.0eb086f5.svg);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0; }
  .image-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d31342; }
  .image-slider__text {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding: 50px 90px 40px 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 930px;
    background-color: #fafafa;
    background-image: url(/devil.293b3778.svg);
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: 110px 38px; }
    .image-slider__text-decore {
      border-bottom: 1px solid #e1e1e1; }
    .image-slider__text-box {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
  .image-slider__paragraph {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px; }
  .image-slider__decore-circle {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
    margin-bottom: 15px; }
  .image-slider__decoration {
    padding: 45px; }
    @media (min-width: 768px) {
      .image-slider__decoration {
        padding: 60px; } }
    @media (min-width: 1200px) {
      .image-slider__decoration {
        padding: 65px; } }

.locations {
  margin-top: 84px;
  padding-bottom: 88px;
  background-color: #fff5f6; }
  @media screen and (min-width: 1200px) {
    .locations {
      background-image: url(/sectionbg.b3229a95.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 102px; } }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .locations {
      background-image: url(/sectionbg@2x.6ed4ac75.png); } }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
    .locations {
      background-image: url(/sectionbg@3x.449987e1.png); } }
  @media screen and (min-width: 768px) {
    .locations {
      margin-top: 78px; } }

.locations__list {
  position: relative;
  bottom: 84px; }
  @media screen and (min-width: 1200px) {
    .locations__list {
      margin-right: -30px;
      bottom: 102px; } }
  @media screen and (min-width: 768px) {
    .locations__list {
      display: flex;
      justify-content: center;
      margin: -20px;
      margin-bottom: -16px;
      bottom: 78px; } }

.locations__item {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 21px;
  padding-left: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: white; }
  .locations__item:not(:last-child) {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .locations__item:not(:last-child) {
        margin-bottom: 0; } }
  @media screen and (min-width: 1200px) {
    .locations__item {
      flex-basis: calc(100% - 60px / 3);
      margin-right: 30px; } }
  @media screen and (min-width: 768px) {
    .locations__item {
      flex-basis: calc(100% - 40px / 3);
      margin-right: 20px; } }

.locations__caption {
  display: inline-block;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  padding: 0 25px; }
  .locations__item:first-child > .locations__caption {
    background-color: #f0d1a5; }
  .locations__item:nth-child(2) > .locations__caption {
    background-color: #ffb8ca; }
  .locations__item:nth-child(3) > .locations__caption {
    background-color: #c2e297; }

.locations__box {
  padding-top: 25px; }
  .locations__box:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1; }

.locations__city {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: black;
  margin-bottom: 10px; }

.locations__text {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82; }

.locations__operation-time:not(:last-child) {
  margin-bottom: 10px; }

.locations__working-days {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: black; }

.locations__working-hours {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ffa5ba; }

.locations__mail {
  display: block; }

.locations__contacts {
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82; }

.locations__buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .locations__buttons {
      flex-direction: row;
      justify-content: center; } }

.locations__btn-locations {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  padding: 12px 17px;
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
  max-width: fit-content;
  color: white;
  background-color: #d41443;
  margin-bottom: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .locations__btn-locations:hover, .locations__btn-locations:focus {
    background-color: #c7133e; }
  @media screen and (min-width: 1200px) {
    .locations__btn-locations {
      padding: 12px 35px; } }
  @media screen and (min-width: 768px) {
    .locations__btn-locations {
      margin-bottom: 0;
      padding: 12px 30px;
      margin-right: 15px; } }

.locations__btn-franchise {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  padding: 12px 17px;
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
  min-width: 160px;
  max-width: fit-content;
  color: #d41443;
  background-color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .locations__btn-franchise:hover, .locations__btn-franchise:focus {
    background-color: #ecebeb; }
  @media screen and (min-width: 1200px) {
    .locations__btn-franchise {
      padding: 12px 35px; } }
  @media screen and (min-width: 768px) {
    .locations__btn-franchise {
      padding: 12px 30px; } }

.footer {
  background-color: #fff5f6;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .footer {
      padding-top: 16px;
      padding-bottom: 16px; } }
  @media (min-width: 1200px) {
    .footer {
      padding-top: 10px;
      padding-bottom: 10px; } }

@media (min-width: 1200px) {
  .footer__container {
    padding-left: 115px;
    padding-right: 115px; } }

.footer__header-home-made {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 17px;
  width: 232px; }
  @media (min-width: 768px) {
    .footer__header-home-made {
      font-size: 26px;
      line-height: 30px;
      width: 340px; } }
  @media (min-width: 1200px) {
    .footer__header-home-made {
      font-size: 30px;
      line-height: 34px;
      width: 472px; } }

.footer__header-with-passion {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 0.87;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 43px;
  width: 200px; }
  @media (min-width: 768px) {
    .footer__header-with-passion {
      font-size: 48px;
      line-height: 55px;
      width: 340px;
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .footer__header-with-passion {
      font-size: 58px;
      line-height: 66px;
      width: 474px; } }

.footer__sotial-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-bottom: 46px; }
  @media (min-width: 1200px) {
    .footer__sotial-list {
      margin-bottom: 50px; } }

.footer__sotial-item {
  width: 32px;
  height: 32px;
  margin-left: 28px; }
  .footer__sotial-item:first-child {
    margin-left: 0; }

.footer__sotial-link {
  display: block; }

.footer__sotial-icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .footer__sotial-icon:focus, .footer__sotial-icon:hover {
    fill: #d41443; }
  @media (min-width: 768px) {
    .footer__sotial-icon {
      width: 34px;
      height: 34px; } }

.footer__contact {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  margin-bottom: 65px; }
  .footer__contact-tel {
    text-decoration: none;
    color: #d41443; }
  @media (min-width: 768px) {
    .footer__contact {
      margin-bottom: 0;
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .footer__contact {
      font-size: 16px; } }

.footer__decorate-line {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  position: absolute;
  bottom: 90px;
  left: 0; }
  @media (min-width: 768px) {
    .footer__decorate-line {
      bottom: 73px; } }
  @media (min-width: 1200px) {
    .footer__decorate-line {
      bottom: 45px; } }

.copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.copyright-text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
  width: 145px; }
  @media (min-width: 768px) {
    .copyright-text {
      width: auto; } }

.footer__combine-header-contact {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .footer__combine-header-contact {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 120px; } }
  @media (min-width: 1200px) {
    .footer__combine-header-contact {
      margin-bottom: 106px; } }

.footer__combine-title {
  display: flex;
  flex-direction: column; }

.footer__combine-sotial-contact {
  display: flex;
  flex-direction: column; }

.header {
  background-color: #ffb8c9; }

.header a {
  text-decoration: none; }

.logo-image {
  display: block;
  width: 199px;
  height: 100%;
  margin-right: 40px; }

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 101; }

.container.header-container.padding-zero {
  padding-right: 20px; }

@media screen and (max-width: 1200px) {
  .main-nav {
    display: none; } }

.main-nav.is-open {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 250px;
  height: 500px;
  background-color: #e17992;
  padding-top: 60px; }

@media (min-width: 1200px) {
  .site-nav {
    display: flex; } }

.site-nav__link {
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.31;
  margin: 15px 35px 15px auto;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .site-nav__link:hover, .site-nav__link:focus, .site-nav__link.current {
    color: #d41443; }

.site-nav__item {
  display: block;
  padding: 10px;
  border: 1px solid #e18298; }
  @media (min-width: 1200px) {
    .site-nav__item {
      padding: 0;
      border: none; } }

.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: white;
  color: #d41443;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  z-index: 100;
  cursor: pointer;
  transform: translate(45px, -15px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .header__button:hover, .header__button:focus {
    background-color: #ecebeb; }
  .header__button::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 10px;
    margin-left: 10px;
    background-image: url(/btnheader.095f7c88.svg); }

@media screen and (max-width: 767px) {
  .header__button.slider {
    display: none; } }

@media (min-width: 1200px) {
  .header__button.is-hidden {
    display: none; } }

.header__button.slider {
  transform: none;
  z-index: 1; }

.header__button.slider.is-hidden {
  display: none; }

.burger-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100; }
  @media (min-width: 1200px) {
    .burger-button {
      display: none; } }
  .burger-button__symbol--cross {
    display: none; }
  .burger-button.is-open .burger-button__symbol--cross {
    display: block; }
  .burger-button.is-open .burger-button__symbol--burger {
    display: none; }

.hero-container {
  background-color: #ffb8c9;
  padding-top: 137px;
  padding-left: 20px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .hero-container {
      padding-top: 15px;
      padding-left: 34px;
      padding-right: 34px;
      padding-bottom: 28px;
      overflow: visible; } }
  @media (min-width: 1200px) {
    .hero-container {
      padding-top: 84px;
      padding-left: 74px;
      padding-bottom: 45px;
      padding-right: 74px; } }

.hero-header {
  display: flex; }

.hero-about {
  width: 218px;
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) {
    .hero-about {
      width: 162px;
      margin-bottom: 19px; } }
  @media (min-width: 1200px) {
    .hero-about {
      width: 277px;
      margin-left: 38px;
      margin-bottom: 56px; } }

.hero-text {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white; }
  @media (min-width: 768px) {
    .hero-text {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.14;
      letter-spacing: 0.04em; } }
  @media (min-width: 1200px) {
    .hero-text {
      font-weight: 400;
      font-size: 38px;
      line-height: 1.15;
      letter-spacing: 0.04em; } }

.text-red {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443; }
  @media (min-width: 768px) {
    .text-red {
      font-weight: 400;
      font-size: 34px;
      line-height: 0.91;
      letter-spacing: 0.04em; } }
  @media (min-width: 1200px) {
    .text-red {
      font-weight: 400;
      font-size: 58px;
      line-height: 0.91;
      letter-spacing: 0.04em; } }

.btn-hero {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: white;
  background-color: #d41443;
  border-radius: 20px;
  border-color: transparent;
  padding-left: 13px;
  padding-right: 13px;
  height: 24px;
  margin-top: 20px; }
  .btn-hero:last-child {
    background-color: white;
    color: #d41443; }
  .btn-hero:hover, .btn-hero:focus {
    background-color: #c7133e;
    color: white; }
  .btn-hero:hover:last-child, .btn-hero:focus:last-child {
    background-color: #ecebeb;
    color: #d41443; }
  @media (min-width: 1200px) {
    .btn-hero {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: 0em;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 25px; } }
  .btn-hero:not(:last-child) {
    margin-right: 8px; }
    @media (min-width: 1200px) {
      .btn-hero:not(:last-child) {
        margin-right: 17px; } }

.product-logo {
  margin-left: auto;
  position: absolute;
  top: 21px;
  right: 0;
  z-index: 2; }
  @media (min-width: 1200px) {
    .product-logo {
      top: 4px;
      right: 0; } }

.products-text {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0em;
  color: white;
  width: 114px; }
  @media (min-width: 768px) {
    .products-text {
      margin-bottom: 7px;
      padding-top: 47px; } }
  @media (min-width: 1200px) {
    .products-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0em;
      width: 200px;
      padding-top: 56px;
      margin-bottom: 20px; } }

.hero-products {
  display: flex;
  position: relative; }
  @media (max-width: 767px) {
    .hero-products {
      display: none; } }

@media (min-width: 1200px) {
  .products-block {
    margin-left: 30px; } }

.products-block > svg {
  width: 18px;
  height: 18px; }
  @media (min-width: 1200px) {
    .products-block > svg {
      width: 26px;
      height: 26px; } }

.hero-ellipse {
  position: absolute;
  top: 27px;
  left: 36px;
  width: 346px;
  height: 346px;
  background-color: #ffa5ba;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .hero-ellipse {
      width: 324px;
      height: 324px;
      top: -56px;
      left: 307px; } }
  @media (min-width: 1200px) {
    .hero-ellipse {
      width: 538px;
      height: 538px;
      top: -35px;
      left: 475px; } }

.hero-logo {
  position: absolute;
  top: 36px;
  left: 117px; }
  @media (min-width: 768px) {
    .hero-logo {
      top: -22px;
      left: 378px; } }
  @media (min-width: 1200px) {
    .hero-logo {
      top: 25px;
      left: 594px; } }

.hero-locations {
  margin-left: auto; }
  @media (max-width: 767px) {
    .hero-locations {
      display: none; } }

.locations-item {
  font-family: Titan One, cursive;
  position: relative; }
  @media (min-width: 768px) {
    .locations-item:not(:last-child) {
      margin-bottom: 13px; } }
  .locations-item::before {
    display: block;
    position: absolute;
    right: 0;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white; }
    @media (min-width: 1200px) {
      .locations-item::before {
        height: 30px;
        width: 30px; } }

.locations-text {
  font-family: DM Sans, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: white; }
  @media (min-width: 1200px) {
    .locations-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: 0em; } }

.locations-quantity {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443; }
  @media (min-width: 1200px) {
    .locations-quantity {
      font-weight: 400;
      font-size: 46px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      margin-bottom: 15px; } }

.section-made {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 39px; }
  @media screen and (min-width: 768px) {
    .section-made {
      padding-top: 130px;
      padding-bottom: 66px; } }
  @media screen and (min-width: 1200px) {
    .section-made {
      padding-top: 125px;
      background-image: url(/milk-bg.eafd2a72.png);
      background-size: contain;
      background-position-y: 400px;
      background-repeat: no-repeat; } }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .section-made {
      background-image: url(/milk-bg@2x.ae819298.png); } }

@media screen and (min-width: 768px) {
  .container {
    width: auto; } }

.made-label {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .made-label {
      font-weight: 400;
      font-size: 26px;
      line-height: 1.13;
      letter-spacing: 0.04em; } }
  @media screen and (min-width: 1200px) {
    .made-label {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.17;
      letter-spacing: 0.03em; } }

.section-made .title {
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px; }
  @media screen and (min-width: 768px) {
    .section-made .title {
      font-weight: 400;
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      margin-bottom: 50px; } }
  @media screen and (min-width: 1200px) {
    .section-made .title {
      font-weight: 400;
      font-size: 58px;
      line-height: 1.15;
      letter-spacing: 0.06em;
      margin-bottom: 102px; } }

.made-button {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  padding: 12px 17px;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  color: #d41443;
  background-color: white;
  border: none;
  margin-left: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  @media screen and (min-width: 768px) {
    .made-button {
      margin-left: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.29;
      letter-spacing: 0.03em; } }
  .made-button:hover, .made-button:focus {
    background-color: #ecebeb; }

.decor-icon {
  display: inline-flex;
  margin-left: 10px; }

.made-content {
  position: relative;
  align-items: center;
  padding-top: 46px;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (min-width: 768px) {
    .made-content {
      position: unset;
      padding-top: 46px;
      padding-left: 20px;
      padding-right: 0; } }
  @media screen and (min-width: 1200px) {
    .made-content {
      position: unset;
      padding-top: 46px;
      padding-left: 71px;
      padding-right: 0; } }

.made-thumb {
  position: absolute;
  bottom: 60px;
  right: -20px;
  left: -20px; }
  @media screen and (min-width: 466px) {
    .made-thumb {
      display: none; } }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }

.content-title {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: black;
  margin-top: 0;
  margin-bottom: 36px; }
  @media screen and (min-width: 768px) {
    .content-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      width: 340px;
      margin-bottom: 33px; } }
  @media screen and (min-width: 1200px) {
    .content-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.04em;
      margin-bottom: 35px;
      width: 463px; } }

.content-list > .item {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: #907e82;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .content-list > .item {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 0.04em;
      width: 340px; } }
  @media screen and (min-width: 1200px) {
    .content-list > .item {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.9;
      letter-spacing: 0.04em;
      margin-bottom: 45px;
      width: 463px; } }

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex; } }

.section-mass {
  background-color: #fff5f6;
  padding-bottom: 145px; }
  @media (min-width: 768px) {
    .section-mass {
      padding-bottom: 240px; } }
  @media (min-width: 1200px) {
    .section-mass {
      padding-bottom: 310px; } }

@media (min-width: 768px) {
  .mass-list {
    display: flex; } }

@media screen and (max-width: 767px) {
  .mass-item {
    max-width: 230px; }
    .mass-item:not(:last-child) {
      margin-bottom: 38px; } }

@media (min-width: 768px) {
  .mass-item {
    min-width: 180px; }
    .mass-item:not(:last-child) {
      margin-right: 60px; } }

@media (min-width: 1200px) {
  .mass-item {
    min-width: 330px; }
    .mass-item:not(:last-child) {
      margin-right: 30px; } }

.mass-item .mass-overhead {
  font-family: 'Titan One', cursive;
  color: #d41443; }
  @media screen and (max-width: 767px) {
    .mass-item .mass-overhead {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 36px;
      line-height: 1.13;
      letter-spacing: 0.05em; } }
  @media (min-width: 768px) {
    .mass-item .mass-overhead {
      margin-bottom: 13px;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.05em; } }
  @media (min-width: 1200px) {
    .mass-item .mass-overhead {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 58px;
      line-height: 1.13;
      letter-spacing: 0.05em; } }

.mass-item .mass-label {
  font-family: 'DM Sans', sans-serif;
  color: black; }
  @media screen and (max-width: 767px) {
    .mass-item .mass-label {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.7;
      letter-spacing: 0.03em; } }
  @media (min-width: 768px) {
    .mass-item .mass-label {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em; } }
  @media (min-width: 1200px) {
    .mass-item .mass-label {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.7;
      letter-spacing: 0.02em; } }

.icon-box {
  width: 100%; }
  @media screen and (max-width: 767px) {
    .icon-box {
      margin-bottom: 16px; } }
  @media (min-width: 768px) {
    .icon-box {
      margin-bottom: 36px; } }
  @media (min-width: 1200px) {
    .icon-box {
      margin-bottom: 40px; } }
  .icon-box::before {
    content: '';
    display: block; }
  .icon-box.medium::before {
    width: 33px;
    height: 50px;
    background-image: url(/med_ice_cream.e6386b5b.png); }
  .icon-box.big::before {
    width: 50px;
    height: 50px;
    background-image: url(/big_ice_cream.c7c56d00.png); }
  .icon-box.small::before {
    width: 44px;
    height: 50px;
    background-image: url(/small_ice_cream.053cc940.png); }

.collage-section {
  position: relative;
  top: 0;
  transform: translateY(-40%); }

.product-section {
  padding-top: 121px;
  padding-bottom: 98px; }
  @media (min-width: 768px) {
    .product-section {
      padding-top: 122px;
      padding-bottom: 112px; } }
  @media (min-width: 1200px) {
    .product-section {
      padding-top: 127px;
      padding-bottom: 119px; } }

.product-section-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 144px;
  font-family: Titan One, cursive;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443; }
  @media (min-width: 768px) {
    .product-section-title {
      margin-bottom: 150px;
      font-size: 48px;
      line-height: 1.15; } }
  @media (min-width: 1200px) {
    .product-section-title {
      margin-bottom: 259px;
      font-size: 58px;
      line-height: 1.13;
      letter-spacing: 0.06em; } }

.natural-text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.16;
  color: #ffa5ba; }
  @media (min-width: 768px) {
    .natural-text {
      font-size: 26px;
      line-height: 1.15; } }
  @media (min-width: 1200px) {
    .natural-text {
      font-size: 30px;
      line-height: 1.33;
      letter-spacing: 0.04em; } }

.product-list {
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .product-list {
      display: flex;
      margin: -10px; } }
  @media (min-width: 1200px) {
    .product-list {
      margin: -15px; } }

.product-item {
  position: relative;
  padding: 161px 40px 41px;
  border-radius: 24px; }
  @media (max-width: 767px) {
    .product-item {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 768px) {
    .product-item {
      margin: 10px;
      padding: 152px 11px 40px;
      flex-basis: calc((100%-3 * 20) / 3); } }
  @media (min-width: 1200px) {
    .product-item {
      margin: 15px;
      padding: 163px 44px 50px;
      flex-basis: calc((100%-3 * 30) / 3); } }
  @media (max-width: 767px) {
    .product-item:not(:last-child) {
      margin-bottom: 130px; } }
  .product-item:nth-child(1) {
    background-color: #f0d1a5; }
  .product-item:nth-child(2) {
    background-color: #ffb8ca; }
  .product-item:nth-child(3) {
    background-color: #c2e297; }

.products-image {
  position: absolute;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 249px; }
  @media (min-width: 768px) {
    .products-image {
      top: -104px;
      min-width: 220px; } }
  @media (min-width: 1200px) {
    .products-image {
      top: -210px;
      min-width: 335px; } }

.products-item-title {
  margin-bottom: 30px;
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white; }
  @media (min-width: 1200px) {
    .products-item-title {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 32px; } }

.dots {
  display: block;
  width: 26px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .dots {
      margin-bottom: 32px; } }

.dots-icon {
  width: 100%;
  height: 100%;
  fill: white; }

.products-item-description {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: white; }
  @media (min-width: 768px) {
    .products-item-description {
      margin-bottom: 40px;
      line-height: 1.76; } }
  @media (min-width: 1200px) {
    .products-item-description {
      margin-bottom: 62px;
      font-size: 16px; } }

.products-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  fill: #d41442;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .products-link:hover, .products-link:focus {
    fill: white;
    background-color: #d41442; }

.arrow-icon {
  width: 11px;
  height: 10px; }


/*# sourceMappingURL=/main.07544d9b.css.map */