.footer {
  background-color: getColor('lightBgrd');
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  @include for-size('tablet') {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include for-size('desktop') {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer__container {
  @include for-size('desktop') {
    padding-left: 115px;
    padding-right: 115px;
  }
}
