.footer__contact {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  margin-bottom: 65px;
  &-tel {
    text-decoration: none;
    color: getColor('accent');
  }
  @include for-size('tablet') {
    margin-bottom: 0;
    font-size: 14px;
  }
  @include for-size('desktop') {
    font-size: 16px;
  }
}
