.footer__combine-header-contact {
  display: flex;
  flex-direction: column;
  @include for-size('tablet') {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  @include for-size('desktop') {
    margin-bottom: 106px;
  }
}
.footer__combine-title {
  display: flex;
  flex-direction: column;
}
.footer__combine-sotial-contact {
  display: flex;
  flex-direction: column;
}
