.footer__header-home-made {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: getColor('titleLight');
  margin-bottom: 17px;
  width: 232px;
  @include for-size('tablet') {
    font-size: 26px;
    line-height: 30px;
    width: 340px;
  }
  @include for-size('desktop') {
    font-size: 30px;
    line-height: 34px;
    width: 472px;
  }
}
.footer__header-with-passion {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 0.87;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('accent');
  margin-bottom: 43px;
  width: 200px;
  @include for-size('tablet') {
    font-size: 48px;
    line-height: 55px;
    width: 340px;
    margin-bottom: 0;
  }
  @include for-size('desktop') {
    font-size: 58px;
    line-height: 66px;
    width: 474px;
  }
}
