.footer__decorate-line {
  border-top: 1px solid getColor('sliderBorder');
  width: 100%;
  position: absolute;
  bottom: 90px;
  left: 0;
  @include for-size('tablet') {
    bottom: 73px;
  }
  @include for-size('desktop') {
    bottom: 45px;
  }
}
.copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: getColor('secondaryText');
  width: 145px;
  @include for-size('tablet') {
    width: auto;
  }
}
