$colors: (
  'heroBgrd': rgb(255, 184, 201),
  'primaryText': rgb(0, 0, 0),
  'secondaryText': rgb(144, 126, 130),
  'accent': rgb(212, 20, 67),
  'btnActiv': rgb(199, 19, 62),
  'textLight': rgb(255, 255, 255),
  'titleLight': rgb(255, 165, 186),
  'productFirstBgrd': rgb(240, 209, 165),
  'productSecondBgrd': rgb(255, 184, 202),
  'productThirdBgrd': rgb(194, 226, 151),
  'sliderBgrd': rgb(250, 250, 250),
  'sliderActiv': rgb(211, 19, 66),
  'sliderBorder': rgb(225, 225, 225),
  'socials': rgb(254, 165, 187),
  'lightBgrd': rgb(255, 245, 246),
  'btncolor': rgb(255, 255, 255),
  'bgcmobile': rgb(225, 121, 146),
  'secondaryBtnActive': rgb(236, 235, 235),
  'arrowColor': rgb(212, 20, 66),
  'borderMenu': rgb(225, 130, 152),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

// fonts
$main-font: DM Sans, sans-serif;
$secondary-font: Titan One, cursive;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
