<header class="header">
    <div class="container header-container" padding>
    <a href="./index.html">
    <picture class="logo-image">
    <source srcset="./images/header/logo.png" type="image/png" />
        <img src="./images/header/logo.png" alt="иконка" />
            </picture>
        </a>

<button class="burger-button" type="button" aria-expanded="false" aria-controls="nav" data-menu-button>
    <svg class="burger-button__symbol" width="20" height="20" aria-label="кнопка переключателя моюильного  меню">
        <use class="burger-button__symbol--burger" href="./images/header/sprite-header.svg#icon-menu"></use>
        <use class="burger-button__symbol--cross" href="./images/header/sprite-header.svg#icon-cross"></use>
    </svg>
</button>
        <nav class="main-nav" data-menu>
 <button class="header__button is-hidden">
            Buy now
        </button>
        
            <ul class="site-nav list">
                <li class="site-nav__item">
                <a class="site-nav__link current" href="./index.html">Home</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">About us</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">Contacts</a>
                </li>
            </ul>
        </nav>
       
        <button class="header__button slider" button-hidden>
            Buy now
        </button>
    </div>
</header>



