<header class="header">
    <div class="container">
    <a href="./index.html">
    <picture class="logo-image">
    <source srcset="./images/header/logo.png" type="image/png" />
        <img src="./images/header/logo.png" alt="иконка" />
            </picture>
        </a>


        <nav class="main-nav">

            <ul class="site-nav list">
                <li class="site-nav__item">
                <a class="site-nav__link current" href="./index.html">Home</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">About us</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="">Our products</a>
                </li>
            </ul>
        </nav>
        <button>
            <svg>
                <use href="../images/header/Burger.svg"></use>
                <use></use>
            </svg>
        </button>
        <button class="header__button">
            Buy now
        </button>
    </div>
</header>

<!-- <div class="mobile-nav" is hidden>
    <button class="header__button side">
        Buy now
    
    </button>
    <nav>
        <ul class="site-nav list">
            <li class="site-nav__item">
                <a class="site-nav__link current" href="">Home</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">About us</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">How it’s made?</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">Our products</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">Contact</a>
            </li>
        </ul>            
    </nav>
</div> -->

