<section class="slider">
    <picture>
        <source 
            srcset="../images/slider/Emily.webp 1x, ../images/slider/Emily@2x.webp 2x, ../images/slider/Emily@3.webp 3x" 
            type="image/webp" 
        />
        <img 
            srcset="../images/slider/Emily.jpg 1x, ../images/slider/Emily@2.jpg 2x, ../images/slider/Emily@3.jpg 3x" 
            src="../images/slider/Emily.jpg" 
            alt="woman Emily, Los Angeles"
            width="85px"
            height="85px"
        />
    </picture>
</section>