<section class="slider">
    <!-- <picture>
        <source
            srcset="images/slider/Emily.webp 1x, images/slider/Emily@2x.webp 2x, images/slider/Emily@3.webp 3x"
            type="image/webp"
        />
        <source srcset="images/slider/Emily.jpg 1x, images/slider/Emily@2.jpg 2x, images/slider/Emily@3.jpg 3x">
        <img
            src="images/slider/Emily.jpg"
            alt="woman Emily, Los Angeles"
            width="85px"
            height="85px"
        />
    </picture> -->

    <p class="slider__comments">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
    congue. Lorem ipsum primis in nibh vel risus.</p>

    <ul class="slider__list-decorate-dot">
        <li class="slider__decorate-dot"></li>
        <li class="slider__decorate-dot"></li>
        <li class="slider__decorate-dot"></li>
    </ul>

    <p class="slider__comments-addr">Emily, Los Angeles</p>

    <ul class="slider__list-btn">
        <li class="slider__list-btn-item">
            <button class="slider__btn"></button>
        </li>
        <li class="slider__list-btn-item">
            <button class="slider__btn"></button>
        </li>
        <li class="slider__list-btn-item">
            <button class="slider__btn"></button>
        </li>
    </ul>
</section>