.header {
  background-color: getColor('heroBgrd');
}

.header a {
  text-decoration: none;
}

.logo-image {
  display: block;
  width: 199px;
  height: 100%;
  margin-right: 40px;
}
.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 101;
}
.container.header-container.padding-zero {
  padding-right: 20px;
}
.main-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  &.is-open {
    display: block;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 250px;
    height: 100vh;
    background-color: getColor('bgcmobile');
    padding-top: 60px;
  }
}
.site-nav {
  @include for-size('desktop') {
    display: flex;
  }
}
.site-nav__link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.31;
  color: getColor('btncolor');
  transition: color 250ms $cubic;
  &:hover,
  &:focus,
  &.current {
    color: getColor('accent');
  }
  @include for-size('desktop') {
    font-size: 17px;
  }
}
.site-nav__item {
  display: block;
  padding: 10px;
  border: 1px solid getColor('borderMenu');

  @include for-size('desktop') {
    padding: 0;
    border: none;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
