.header {
  background-color: getColor('heroBgrd');
}

.header a {
  text-decoration: none;
}

.logo-image {
  display: block;
  width: 199px;
  height: 100%;
  margin-right: 40px;
}
.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.main-nav {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    right: 1%;
    top: 1%;
    width: 250px;
    height: 500px;
    background-color: getColor('bgcmobile');
    padding-top: 60px;
  }
}

.site-nav__link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.31;
  margin: 15px 35px 15px auto;
  color: getColor('btncolor');
  transition: color 250ms $cubic;
  &:hover,
  &:focus,
  &.current {
    color: getColor('accent');
  }
}
.site-nav__item {
  display: block;
  padding: 10px;
  border: 1px solid getColor('borderMenu');
}

.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: getColor(btncolor);
  color: getColor(accent);
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  z-index: 100;
  cursor: pointer;
  transform: translate(45px, -15px);
  transition: background-color 250ms $cubic;
  &:hover,
  &:focus {
    background-color: getColor('secondaryBtnActive');
  }

  &::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../images/header/btnheader.svg);
  }
}
@media screen and (max-width: 767px) {
  .header__button.slider {
    display: none;
  }
}
.header__button.slider {
  transform: none;
}
.burger-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: getColor('heroBgrd');
  z-index: 100;
  &.is-open {
    background-color: getColor('bgcmobile');
  }

  &__symbol--cross {
    display: none;
  }
  &.is-open &__symbol--cross {
    display: block;
  }
  &.is-open &__symbol--burger {
    display: none;
  }
}
