.header {
  background-color: getColor('heroBgrd');
}

.header a {
  text-decoration: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: -33px;
  z-index: 9;

  @media screen and (max-width: 767px) {
    padding-top: 6px;
  }
}

.logo-image {
  display: block;
  width: 199px;
  height: 100%;
  margin-right: 40px;
}

.main-nav {
  @media screen and (max-width: 1000px) {
  }
  display: flex;
  align-items: center;
}

.site-nav {
  position: relative;
  z-index: 9;
  padding: 0;
  margin: 0;
}

.site-nav.list {
  display: flex;
}

.site-nav__link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin: 15px 35px 15px auto;

  color: getColor(btncolor);

  &:hover,
  &:focus,
  &.current {
    color: getColor(accent);
  }
}

.mobile-nav .site-nav__link {
  font-size: 14px;
}

.header__button {
  @media screen and (max-width: 767px) {
    display: none;
  }
  height: 44px;
  padding: 0 36px;
  border-radius: 22px;
  border: none;
  background-color: getColor(btncolor);
  color: getColor(accent);
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  z-index: 100;
  cursor: pointer;
  transition: background-color 250ms $cubic;
  &:hover,
  &:focus {
    background-color: getColor('secondaryBtnActive');
  }

  &::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../images/header/btnheader.svg);
  }
}
.burger-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: getColor('productSecondBgrd');
  z-index: 100;
  &.is-open {
    background-color: getColor('bgcmobile');
  }

  &__symbol--cross {
    display: none;
  }
  &.is-open &__symbol--cross {
    display: block;
  }
  &.is-open &__symbol--burger {
    display: none;
  }
}
.main-nav + .header__button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__button.side {
  display: inline;
  margin-left: 30px;
}

.mobile-nav .site-nav {
  display: inline-block;
}

.mobile-nav .site-nav__item {
  margin-right: 0;
  margin-bottom: 22px;
}

.main-nav .site-nav {
  display: none;

  @media screen and (min-width: 1199px) {
    display: flex;
  }
}
